<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding Roots</title>
</head>

<style>
.center {
    margin: auto;
    width: 15%;
}
</style>

<body>
    <div class="center">
        <h1>Finding Roots</h1>
        <form>
            <label for="minval">Mininimum Value:</label><br>
            <input type="text" id="minval" name="minval"><br>
            <label for="maxval">Maximum Value:</label><br>
            <input type="text" id="maxval" name="maxval"><br>
            <label for="rerror">Relative Error:</label><br>
            <input type="text" id="rerror" name="rerror"><br><br>
            <label for="function">Function:</label><br>
            <input type="text" id="function" name="function"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
<!--^3^ -->
</body>
</html>