<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Roots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page_layout__.css') }}">
    
<body>
    <div class="container">
        <h1>find roots</h1>
        <div class="dropdown">
            <button class="dropbtn"> 
                {% block current_method %}
                    <!-- Insert the current method in this block
                        Choose Method
                    --> 
                {% endblock %}
            </button>
            <div class="dropdown-content">
                {% block other_methods %}
                    <!-- Insert the other methods in this block
                        <a href="/bisection">Bisection Method</a>
                        <a href="/fixed-point">Fixed Point Method</a>
                        <a href="/newton-raphson">Newton-Raphson Method</a>
                        <a href="/regula-falsi">Regula Falsi Method</a>
                        <a href="/secant">Secant Method</a>
                    -->
                {% endblock %}
            </div>
            <div class="dropdown-arrow"></div>
        </div>
        <form method="post">
            <div class="form-row">
                <input type="text" id="function" name="function"placeholder="Enter function">
            </div>
            <div class="hover-box">Enter function</div>
            <div class="form-container">
                <div class="labels">
                    {% block input_labels %}
                        <!-- Insert the input labels in this block
                            <label for="minval">Minimum Value</label>
                            <label for="maxval">Maximum Value</label>
                            <label for="rerror">Relative Error</label>
                        -->
                    {% endblock %}
                </div>
                <div class="labels-1">{% block input_labels_1 %}{% endblock %}</div>
                <div class="inputs">
                    {% block input_fields %}
                        <!-- Insert the input fields in this block
                            <input type="text" id="minval" name="minval" placeholder="Enter minimum value">
                            <input type="text" id="maxval" name="maxval" placeholder="Enter maximum value">
                            <input type="text" id="rerror" name="rerror" placeholder= "Enter relative error">
                        -->
                    {% endblock %}
                </div>
                <div class="inputs-1">{% block input_fields_1 %}{% endblock %}</div>
            </div>

            <div class="form-sub">
            <input type="submit" value="Calculate">
            </div>
        </form>
        <div style="overflow-x: auto;">

        {% if table %}
            <br><br>
            <div class="table-container">
                <table border="1">
                    {% for row in table %}
                        <tr>
                            {% for item in row %}
                                <td> {{ item }} </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="answer">
                <p> answer </p>
            </div>
        {% endif %}

    <footer>
        <p>@2024</p>
    </footer>
      
</body>
</html>