<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Roots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page_layout.css') }}">
    
<body>
    <div class="container">
        <h1>find roots</h1>
        <div class="dropdown">
            <button class="dropbtn"> Choose Method</button>
            <div class="dropdown-content">
                <a href="/bisection">Bisection Method</a>
                <a href="/fixed_point">Fixed Point Method</a>
                <a href="/newton_raphson">Newton-Raphson Method</a>
                <a href="/regula_falsi">Regula Falsi Method</a>
                <a href="/secant">Secant Method</a>
            </div>
            <div class="dropdown-arrow"></div>
        </div>   
</body>
</html>